<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>اختر تمويلك</title>
    <meta content="" name="description">
    <meta content="" name="keywords">



    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville">

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        .button-bar {

            padding: 1rem;
            background: rgb(12, 137, 7);
            position: sticky;
            bottom: 0;
            width: 280px;
            float: right;
        }

        .button-bar a {
            color: white;
            font-size: 20px;
            font-weight: 200;

        }

        .button-bar a i {
            padding-right: 8px;
        }

        .wts-btn {
            margin: 5px;

        }

        p {
            font-size: 25px;
            font-weight: bold;
        }

        h1 {
            font-size: 28px;
            font-weight: bold;
        }

        .footer {
            background-color: rgba(8, 8, 8, 0.816);
            color: white;
            padding-top: 60px;
            padding-bottom: 60px;
            margin-top: 8px;
        }
        .footer p{
            font-size: 18px;
        }
    </style>

</head>

<body style="font-family: 'Libre Baskerville', serif;">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                <h1><a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن">اختر تمويلك</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar  order-last order-lg-0">
                <ul>
                    <li><a style="font-size: 18px; font-weight: bold;" class="nav-link scrollto active" href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن">  للتواصل معنا</a></li>
                    <li><a style="font-size: 18px; font-weight: bold;" class="nav-link scrollto " href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن">ماذا نقدم</a></li>
                    <li><a style="font-size: 18px; font-weight: bold;" class="nav-link scrollto" href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن">من نحن</a></li>
                    <li><a style="font-size: 18px; font-weight: bold;" class="nav-link scrollto" href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن">اطلب تمويلك اونلاين </a></li>

                    <li><a style="font-size: 18px; font-weight: bold;" class="nav-link scrollto" href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن"><img src="static/img/img.webp" width="135px" alt=""> </a></li>
                    <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->


        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section style="background: url('static/img/money.webp') center center;" id="hero"
        class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">

            <h1>مبالغ ماليةبجميع احتياجاتك<i class="bi bi-check-circle"></i></h1>
            <h1>متوافق مع الشريعة الاسلامية<i class="bi bi-check-circle"></i></h1>
            <h1> موافقة فورية<i class="bi bi-check-circle"></i></h1>


        </div>
    </section><!-- End Hero -->

    <main id="main">

        <div class="row">
            <div class="col-lg-12 col-md-6 text-center wts-btn">
                <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن" style="margin-top: 35px; padding: 15px 18px 10px; font-size: 25px;" type="button" class="btn btn-success ">تواصل معنا الان </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <h1>! نقدم لك أسرع تمويل في</h1>
                <h2 style="color: blueviolet;">السعودية</h2>
                <p>نمنحك تمويلاً بموافقة فورية بقيمة تصل إلى 250.000 ريال سعودي للأفراد</p>
                <p> <span style="color: blueviolet;"> و 5,000,000</span> ريال للمؤسسات</p>
                <p>✓ موافقة فورية</p>
                <h1>أقل معدل فائدة 10٪ فقط لفترة سداد 5 سنوات</h1>
                <p>أفضل باقة خدمات دفع مبتكرة</p>
                <p>أكبر مبلغ تمويل في مكان واحد</p>
                <p>جميع البنوك وشركات التمويل معتمدة من قبلنا ، لذا فنحن (خيارك الأول وأفضل مستشار لك)</p>
                <p>طلب تمويل فوري</p>
                <p>التمويل - بدون كفيل أو تحويل راتب</p>
                <p>إجراءات إلكترونية سريعة وسهلة دون الحاجة لزيارة الفرع</p>
                <h1>الإجراءات إلكترونية سريعة وسهلة دون الحاجة لزيارة الفرع</h1>
                <h1>وبدون كفيل أو تحويل الراتب</h1>
                <p>خلال ساعة يكون المبلغ في حسابك </p>
                <p>احصل على أسهل تمويل نقدي موافق أحكام الشريعة الإسلامية وادفع شهرياً.</p>
                <p>الموافقة فورية <span style="color: rgb(12, 28, 210);">خلال 15 دقيقة</span> عبر الإنترنت</p>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <img class="img-fluid" src="static/img/img.webp" alt="">
                <h2 style="color: blueviolet;">التمويل متوافق مع أحكام الشريعة الإسلامية</h2>
                <p>تعتبر المنتجات المتوافقة مع أحكام الشريعة الإسلامية من أهم أولويات شركتنا</p>
                <p>نعمل باستمرار مع فريق من خبراء الشريعة الإسلامية في مجال التمويل المتوافق مع الشريعة الإسلامية لضمان
                    أن جميع خدماتنا متوافقة مع </p>
                <p>.أحكام الشريعة الإسلامية</p>

                <p>.يقوم خبراء الشريعة بمراجعة وتدقيق جميع العمليات بشكل مستمر لضمان استدامتها وفقًا لأحكام الشريعة
                    الإسلامية</p>
               <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن"> <img src="static/img/wts.png" alt="icon" width="150px" height="150px"></a>
               <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن"> <p>تواصل معنا على واتساب</p></a>
              <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن"> <p style="color: rgb(190, 5, 110);">0544961621</p></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <h1 style="color: rgb(15, 15, 210); ">تمويل افراد</h1>
                <img class="img-fluid" src="static/img/p1.webp" alt="">
                <p>مبالغ مالية تبدأمن <span style="color: rgb(11, 11, 198);">20,000</span> ريال سعودي وحتى <span
                        style="color: blueviolet;">100.000</span> ريال بدون وجود كفيل – بدون تحويل راتب</p>
                <p>وتمويل نقدي حتى <span style="color: greenyellow;"> 5,000,000</span> ريال ومتوافق مع أحكام </p>
                <p>الشريعة الإسلامية</p>
                <p>في وجود كفيل</p>
                <h1>تمويل الشركات والمؤسسات متوسطة وصغيرة</h1>
                <p>تمويل المعدات حتى <span style="color: rgb(90, 5, 168);">1,000,000</span> ريال</p>
                <img class="img-fluid" src="static/img/p2.webp" alt="">
                <p>
                    تمويل أساطيل السيارات حتى 2,000,000 ريال</p>
                <img class="img-fluid" src="static/img/p3.webp" alt="">
                <p>
                    تمويل البضائع حتى <span style="color: rgb(6, 6, 176);">250,000</span> ريال</p>
                <img class="img-fluid" src="static/img/p4.webp" alt="">
                <p> تمويل عقارات حتي 2,000,000 ريال</p>
                <img class="img-fluid" src="static/img/p5.webp" alt="">
                <p>مبالغ مالية تصل إلى <span style="color: rgb(6, 6, 176);">500,000</span> ريال ومتوافق مع أحكام الشريعة الإسلامية</p>
                <p>إمكانية السداد المبكر في أي وقت وخصم يصل الى <span style="color: rgb(6, 6, 176);">80%</span> من هامش الربح</p>
                
                <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن" style="margin-top: 35px; padding: 15px 55px 10px; font-size: 25px; background-color:rgb(19, 197, 19); color:white" type="button" class="btn">تواصل معنا على الواتس  </a>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <img class="img-fluid" src="static/img/img.webp" alt="" width="550px">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 text-center">
                <img class="img-fluid" src="static/img/p6.webp" alt="" >
                <p>اضغط علي تواصل معنا الان لكي تتحدث مع احدث ممثلي خدمة العملاء</p>
                <h1 style="font-size:45px; font-weight: normal;">للتواصل معنا</h1>
                <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن" style="margin:35px 0px 80px; padding: 15px 18px 10px; font-size: 25px; background-color:rgb(19, 197, 19); color:white" type="button" class="btn">تواصل معنا الان </a>


            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-lg-12 col-md-6 text-center">
                    <h2>عزيزنا العميل</h2>
                    <p >لاتمام طلب التمويل يجب ادخال البيانات بشكل صحيح</p>
                    <p >وفي حال تم ادخالها</p>
                    <p >بطريقة خاطئة يعتبر الطلب ملغي</p>
                    <h2>للشكاوى والاقتراحات</h2>
                    <p >0544961621</p>
                    <p>او عبر الواتساب</p>
                   
                </div>
            </div>
        </div>


        <div class="button-bar col-md-12 ">
            <a href="https://wa.me/+966563271294/?text=من فضلك اترك استفسارك وسوف يتم الرد عليكم في اقرب وقت ممكن" class="d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i> اطلب تمويلك الان</a>
        </div>
    </main><!-- End #main -->
   




    <!-- Vendor JS Files -->
    <script src="static/vendor/purecounter/purecounter.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>